html {
  /*background: transparent url(https://images.pexels.com/photos/1328891/pexels-photo-1328891.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat fixed;*/
  /*background: #AEC6CF;*/
  background: white;
  padding: 0;
  opacity: 0.95;
  width: 1340px;
  }
header {
  margin-top: 0px;
  background: transparent url(https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.0-9/48408243_271141556891555_1046568918832906240_o.jpg?_nc_cat=103&_nc_ht=scontent.fbkk2-8.fna&oh=926c7cd76f9757ea4e87ba04af6aa92b&oe=5CF011E6) no-repeat fixed;
  color: #ffffff;
  padding: 400px 530px 383px 20px;
  width: 1340px;

  position: relative;
  -webkit-animation-name: headeropac;
  -webkit-animation-duration: 2s;
  animation-name: headeropac;
  animation-duration: 2s;
}
@keyframes headeropac {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}
header h1 { 
  margin-top: 10px;
  color: black;
  display: block;
  font-size: 50px;
  width: 120%;
  height: 20px;
  position: relative;

  -webkit-animation-name: hname; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: hname;
  animation-duration: 1s;
}
@keyframes hname {
  0%   {opacity: 0; left:1000px;}
  10%   {opacity: 0.2; left:750px;}
  20%   {opacity: 0.3; left:550px;}
  30%   {opacity: 0.5; left:250px;}
  40%   {opacity: 0.6; left:100px;}
  50%   {opacity: 0.6; left:0px;}
  60%   {opacity: 0.7; left:0px;}
  70%   {opacity: 0.7; left:0px;}
  80%   {opacity: 0.9; left:0px;}
  90%   {opacity: 0.9; left:0px;}
  100% {opacity: 1: left:0px;}
}

header h2 { 
  margin-top: 0px; 
  margin-bottom: 40px; 
  display: block;
  font-size: 100px;
  width: 120%; 
  height: 30px;

  -webkit-animation-name: pagename; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  animation-name: pagename;
  animation-duration: 3s;
  }
@keyframes pagename {
  0%   {opacity: 0;}
  10%   {opacity: 0.2;}
  20%   {opacity: 0.3;}
  30%   {opacity: 0.5;}
  40%   {opacity: 0.6;}
  50%   {opacity: 0.6;}
  60%   {opacity: 0.7;}
  70%   {opacity: 0.7;}
  80%   {opacity: 0.9;}
  90%   {opacity: 0.9;}
  100% {opacity: 1;}
}


body { 
  font-family: 'Major Mono Display', monospace;
    text-rendering: optimizeLegibility;
    font-size: 100%;
    line-height: 26px;
  
  }
p { 
  margin-top: 0; 
  color: #ffffff;
  text-align: justify;
  text-align: left;
  }
h3 { 
  font-family: 'Major Mono Display', monospace;
  text-transform: uppercase;
  letter-spacing: 1px; 
  margin-bottom: 0; 
  color: black;
  }
a:link { 
  font-weight: bold; 
  text-decoration: none; 
  color: #0166FE;
  }
a:visited { 
  font-weight: bold; 
  text-decoration: none; 
  color: #47C0FD;
  }
a:hover, a:focus, a:active { 
  /*text-decoration: underline; */
  background: #77DD77;
  color: #341F4D;
  }
abbr {
  border-bottom: none;
  }




 /*specific divs */
.page-wrapper {
  display: flex;
  height: 50px;
  width: 1338px
}

/*.page-wrapper body {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}*/
.wrapper {  
  position: absolute; 
  height: 200px;
  background-color: #f1f1f1;
}
.intro { 
  width: 300px;
  position: absolute;
  }
 .summary {
  background: url(https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.0-9/49203461_271141530224891_8929466969522962432_n.jpg?_nc_cat=107&_nc_ht=scontent.fbkk2-8.fna&oh=047dc77a62e5a61cf1cdfa4e7290d484&oe=5CC17F89)no-repeat fixed;
  padding: 150px 20px 20px 20px;
  margin-top: 100px;
  clear: both;
  width: 195px;
  height: 450px; 
  float: left;
  }
.summary h3{
  font-size: 20px;
}
.summary p {
  font-family: 'Major Mono Display', monospace;
  text-align: left;
  }
.preamble {
  background: url(https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.0-9/49203461_271141530224891_8929466969522962432_n.jpg?_nc_cat=107&_nc_ht=scontent.fbkk2-8.fna&oh=047dc77a62e5a61cf1cdfa4e7290d484&oe=5CC17F89)no-repeat fixed;
  font-size: 20px;
  display: block;
  width: 50%;
  height: 100%;
  padding: 50px 10px 50px 100px;
  margin: 5px 5px 5px 243px;
  }
  
.preamble h3{
  position: absolute;
  width: 1000px;
  padding: 20px 20px 20px 20px;
  font-size: 50px;
  left: -230px;
  bottom: 1110px;

  -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

.supporting {
  font-size: 20px;
  position: absolute;
  display: block;
  padding: 0px 0px 0px 10px;
  margin: 900px 0px 3px 0px;
  margin-left: 542px;
  clear: both;
  width: 1338px;
  }
.supporting p {
  color: black;
}
.supporting h3 {
  background: #AEC6CF;
  font-size: 30px;
}

.participation{
  background: url(https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.0-9/49203461_271141530224891_8929466969522962432_n.jpg?_nc_cat=107&_nc_ht=scontent.fbkk2-8.fna&oh=047dc77a62e5a61cf1cdfa4e7290d484&oe=5CC17F89)no-repeat fixed;
  border: 2px dotted black;
  padding: 15px 10px 10px 190px;
  margin: 5px 0px 0px 0px;
  width: 69%;
}
.benefits{
  background: url(https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.0-9/49203461_271141530224891_8929466969522962432_n.jpg?_nc_cat=107&_nc_ht=scontent.fbkk2-8.fna&oh=047dc77a62e5a61cf1cdfa4e7290d484&oe=5CC17F89)no-repeat fixed;
  border: 2px dotted black;
  padding: 15px 10px 10px 190px;
  margin: 5px 0px 0px 0px;
  width: 69%;
}
.requirements{
  background: url(https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.0-9/49203461_271141530224891_8929466969522962432_n.jpg?_nc_cat=107&_nc_ht=scontent.fbkk2-8.fna&oh=047dc77a62e5a61cf1cdfa4e7290d484&oe=5CC17F89)no-repeat fixed;
  border: 2px dotted black;
  padding: 15px 10px 10px 190px;
  margin: 5px 0px 0px 0px;
  width: 69%;
}
footer { 
  background: transparent url(https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.0-9/48406318_271145613557816_7760217188962664448_o.jpg?_nc_cat=103&_nc_ht=scontent.fbkk2-8.fna&oh=d94eab8fcb3fc86a65ee284b35921214&oe=5CE774CD) no-repeat fixed;
  position: static;
  margin-top: 5px;
  padding: 0px 0px 0px 0px;
  clear: both;
  width: 84.2%;
  height: 10%; 
  top: 278px;
  right: 3px;
  text-align: center;
  }
footer a:link, footer a:visited { 
  margin-right: 100px; 
  }

.sidebar {
  margin-left: 1600px;
  top: 0px; 
  right: 0;
  width: 11.5%;
  height: 80%;
  opacity: 0.6;

  -webkit-animation-name: sidebaropac; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  animation-name: sidebaropac;
  animation-duration: 5s;
  }
@keyframes sidebaropac {
  0%   {opacity: 0;}
  10%   {opacity: 0.2;}
  20%   {opacity: 0.3;}
  30%   {opacity: 0.5;}
  100% {opacity: 0.6;}
}



.sidebar .wrapper { 
  background: white;
  font: 15px Major Mono Display, monospace;
  padding: 10px;
  display: flex;
  width: 270px;
  height: 910px;
  flex-wrap: wrap;
  align-content: space-between;
}
.sidebar a {
  margin-top: 0px
  font-size: 13px;
}
.sidebar h3.select {
  margin-top: 60px;
  white-space: nowrap;
}
.sidebar h3.archives { 
  margin-top: 60px;
  white-space: nowrap;
}
.sidebar h3.resources {
  margin-top: 60px;
  white-space: nowrap;
}

.sidebar ul {
  margin: 15px;
  padding: 0;
  }
.sidebar li {
  line-height: 1.3em; 
  display: block; 
  padding-top: 5px; 
  margin-bottom: 5px;
  list-style-type: none;
  }
.sidebar li a:visited {
  color: #FF1493;
  }
.sidebar li a:link {
  color: blue;
}



@media only screen and (max-width: 768px) {
  p {font-size: 20px;}
  header h1 {font-size:30px;}
  header h2 {font-size: 30px;}
  header h3 {font-size: 30px;}
  header {
    background-size: 1200px;
    width: 1200px;
  }
  body {
    width: 30%;
  }
  .page-wrapper {
    width: 50%;
  }
  .sidebar .wrapper {
    flex: none;
    align-content: stretch;
  }
  .sidebar {
    margin-left: 800px;
  }
  .sidebar a {
    margin-top: 0px
    font-size: 10px;
  }
  .sidebar h3.select {
    margin-top: 5px;
  }
  .sidebar h3.archives { 
    margin-top: 5px;
  }
  .sidebar h3.resources {
    margin-top: 5px;
  }
  .summary{
    background: #77DD77;
    width: 60%;
  }
  .preamble {
    background: #FFB347;
    padding: 10px 10px 10px 10px;
  }
  .preamble h3{
    align-content: center;
    padding: 0 0 0 0;
    font-size: 20px;
    width: 150px;
    position: static;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
}